.globalWrapper {
  :global(.react-datepicker__calendar-icon) {
    width: 24px;
    height: 24px;
  }

  :global(.react-datepicker__view-calendar-icon) input {
    padding: 0.5rem 0.75rem;
  }
}

.datePickerIcon {
  right: 0;
  fill: var(--light-color-100);
}

.dateContainer {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: var(--fs-s);
  font-weight: var(--fw-400);
  line-height: var(--lh-m);
  color: var(--light-color-900);

  &.required::after {
    content: '*';
    margin-left: 0.125rem;
    color: var(--danger-color-500);
  }

  &.dimmedLabel {
    color: var(--dark-color-100);
  }
}

.dateInput input:not([disabled='']) {
  color: var(--light-color-100);
}

/* date picker popper */
.popper {
  color: var(--light-color-100);
  text-transform: capitalize;

  & :global(.react-datepicker__header) {
    padding: 0.5rem 0;
    font: var(--font-regular);
    background-color: var(--dark-color-500);
    border: none;
  }

  & :global(.react-datepicker__day-name),
  & :global(.react-datepicker__day),
  & :global(.react-datepicker__time-name) {
    width: 2.25rem;
    height: 2.25rem;
    margin: 0;
    padding: 0.25rem;
  }

  :global(.react-datepicker__day--today),
  :global(.react-datepicker__month-text--today),
  :global(.react-datepicker__quarter-text--today),
  :global(.react-datepicker__year-text--today) {
    font-weight: var(--fw-700);
    color: var(--primary-color-500);
  }

  :global(.react-datepicker__day--keyboard-selected),
  :global(.react-datepicker__month-text--keyboard-selected),
  :global(.react-datepicker__quarter-text--keyboard-selected),
  :global(.react-datepicker__year-text--keyboard-selected) {
    color: var(--light-color-100);
    background-color: transparent;
    border-radius: 100%;
    outline: 2px solid var(--primary-color-300);
  }
}

.calendar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: var(--dark-color-500);

  &:global(.react-datepicker) {
    padding: 0.75rem 1.125rem;
    font: var(--font-regular);
    border: solid 1px var(--dark-color-300);
    border-radius: 2px;
  }

  & :global(.react-datepicker__month) {
    margin: 0;
  }

  & :global(.react-datepicker__current-month) {
    margin-left: 0.8rem;
    font: var(--font-regular-bold);
    color: var(--light-color-100);
    text-align: start;
  }

  & :global(.react-datepicker__day-name) {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    font: var(--font-regular);
    color: var(--light-color-900);
  }

  & :global(.react-datepicker__navigation) {
    top: 5%;

    width: 2.25rem;
    height: 2.25rem;

    background-color: var(--dark-color-100);
    border-radius: 100%;
  }

  & :global(.react-datepicker__navigation--previous) {
    right: 24%;
    left: revert;
  }

  & :global(.react-datepicker__navigation--next) {
    right: 12%;
  }

  /* select range */
  & :global(.react-datepicker__day--in-range),
  & :global(.react-datepicker__day--in-selecting-range) {
    background-color: var(--primary-color-900);
    border-radius: 0;

    &:hover {
      background-color: var(--primary-color-700);
    }
  }

  & :global(.react-datepicker__day--range-start) {
    background-color: var(--primary-color-900);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;

    &:hover {
      background-color: var(--primary-color-700);
    }
  }

  & :global(.react-datepicker__day--range-end) {
    background-color: var(--primary-color-900);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

    &:hover {
      background-color: var(--primary-color-700);
    }
  }

  /* ======= */
}

.day {
  color: var(--light-color-100);

  &:global(.react-datepicker__day--outside-month) {
    color: var(--light-color-900);
  }

  &:not(:global(.react-datepicker__day--in-range)):focus,
  &:not(:global(.react-datepicker__day--in-range)):focus-visible {
    background-color: var(--primary-color-900);
    border-radius: 100%;
    outline: 2px solid var(--primary-color-300);
  }

  &:global(.react-datepicker__day--selected):not(:global(.react-datepicker__day--in-range)) {
    background-color: var(--primary-color-900);
    border-radius: 100%;
  }

  &:global(.react-datepicker__day--today):global(.react-datepicker__day--selected) {
    color: var(--light-color-100);
  }

  &:global(.react-datepicker__day--today):hover {
    color: var(--primary-color-100);
  }

  &:not(
      :global(.react-datepicker__day--selected),
      :global(.react-datepicker__day--in-range)
    ):hover {
    background-color: var(--primary-color-700);
    border-radius: 100%;
  }

  &:global(.react-datepicker__day--weekend):not(
      :global(.react-datepicker__day--today),
      :global(.react-datepicker__day--outside-month)
    ) {
    color: var(--danger-color-300);
  }
}

/* ====================== */

.hasError {
  fill: var(--danger-color-500);

  &.dateInput input:not([disabled='']) {
    color: var(--danger-color-500);
    border-color: var(--danger-color-500);
  }
}

/* custom header */
.customHeaderContainer {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  justify-content: space-between;

  margin-left: 0.8rem;

  font: var(--font-regular-bold);
  color: var(--light-color-100);
  text-align: start;

  & > div:first-child {
    display: flex;
    gap: 0.625rem;
  }
}

.datePickerSelector {
  padding: 0;
  border: none;

  &:hover {
    color: var(--primary-color-100);
  }
}

.monthSelector {
  min-width: 6.5rem;
  margin-top: 2px;
}

.yearSelector {
  min-width: 3.75rem;
}

.changeMonthsBtn {
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;

  color: var(--light-color-100);

  background-color: var(--dark-color-100);
  border-radius: 100%;
}

/* ====================== */
