.dropdown {
  position: relative;
}

.dropdownToggle {
  cursor: pointer;
  padding: 10px;
}

.dropdownMenu {
  position: absolute;
  z-index: calc(infinity);
  top: 100%;
  left: 0;

  width: auto;
  margin: 0;
  padding: 10px;

  list-style: none;

  background-color: var(--dark-color-500);
  border: 1px solid var(--dark-color-100);
  border-radius: 4px;
}

.dropdownItem {
  cursor: pointer;
  padding: 8px;
  color: var(--light-color-100);
}

.dropdownItem:hover {
  background-color: var(--light-color-900);
}
