.pnp
.pnp.js

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

coverage
.DS_Store
node_modules
.turbo
*.log

.next
dist
dist-ssr
server/dist
public/dist
build
out
storybook-static/

*.local

.cache
*.pem
.vercel