.wrapper {
  width: 100%;
}

.textAreaWrapper {
  display: flex;
  flex-direction: column;
}

.label {
  font: var(--font-regular-small);
  line-height: var(--lh-m);
  color: var(--light-color-900);
}

.textArea {
  resize: none;

  box-sizing: border-box;
  padding: 0.25rem 0.75rem;

  font: var(--font-regular);
  color: var(--light-color-900);

  background-color: var(--dark-color-500);
  border: 1px solid var(--dark-color-100);
  border-radius: 2px;

  transition: all 0.3s;

  &:focus-visible {
    color: var(--light-color-100);
    outline: none;
    box-shadow: 0 0 0 2px var(--primary-color-700);
  }
}

.error {
  color: var(--danger-color-500);
  border-color: var(--danger-color-500);
}

.disabled {
  cursor: not-allowed;
  color: var(--dark-color-100);
  border-color: var(--dark-color-100);

  &:hover,
  &:focus-visible,
  &:active {
    color: var(--dark-color-100);
    border-color: var(--dark-color-100);
  }
}
