@use '../../../styles/mixins' as mixins;

.container {
  position: fixed;
  z-index: var(--sidebar-mobile-z-index);
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 100vw;
  height: 3rem;
  padding: 1rem;

  border-top: 1px solid var(--dark-color-300);
}

.items__list {
  @include mixins.flex(row, space-evenly, flex-start, 1.5rem);

  width: 100%;
}
