.container {
  --lines-number: 3;

  overflow: hidden;
  display: -webkit-box;

  font-size: 14px;
  line-height: 24px;
  text-overflow: ellipsis;
  word-break: break-word;
  word-wrap: break-word;
  white-space: normal;

  -webkit-box-lines: unset;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--lines-number);
  line-clamp: var(--lines-number);
}

.textExpanded {
  -webkit-line-clamp: unset;
  line-clamp: unset;
}
