

.button {
  @mixin flex($flex-direction: row, $justify-content: center, $align-items: center, $gap: 0) {
    display: flex;
    flex-direction: $flex-direction;
    gap: $gap;
    align-items: $align-items;
    justify-content: $justify-content;
  }

  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;

  &:disabled {
    cursor: initial;
  }
}
