.createPostButton {
  gap: 0.5rem;
  align-self: start;
  font: var(--font-regular-small);
  color: var(--light-color-100);

  &:hover {
    color: var(--primary-color-100);
  }

  &:active {
    color: var(--primary-color-500);
  }
}

.item {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;

  font-size: var(--fs-s);
  font-weight: var(--fw-500);
  line-height: var(--lh-m);

  transition: 0.3s;

  &:hover {
    color: var(--primary-color-100);
  }

  &:active {
    color: var(--primary-color-500);
  }

  &:nth-child(5) {
    margin-bottom: 3.75rem;
  }

  &:nth-child(7) {
    margin-bottom: 7.25rem;
  }
}

.currentItem {
  color: var(--primary-color-500);
}
